.posts{
  background-color: lightgoldenrodyellow;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}

.post_title{
  text-transform: uppercase;
  font-weight: bold;
}

#city_header{
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: 40% 60%;
}

#city_img{
  width: 100%;
}

#city_listing{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10% 90%;
  width: 60vw;
}

#post_outlet{
  grid-column-start: 2;
  grid-row-start: 2;
}

ul{
  padding-left: 0px;
}
