.posts{
  background-color: lightgoldenrodyellow;
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}

.post_title{
  text-transform: uppercase;
  font-weight: bold;
}

#city_header{
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: 40% 60%;
}
#city_header_text{
  padding: 0 4px;
}

#city_img{
  width: 98%;
}

#city_listing{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 10% 90%;
  width: 60vw;
  grid-row-gap: 5px;
}

#post_outlet{
  border: solid 1px lightslategray;
  border-radius: 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  height: 300px;
  overflow-y: auto;
  padding: 0px 4px;
}

ul{
  padding-left: 0px;
}
