#home_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#about{
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  margin: 0 10%;
}
h3{
  text-align: center;
}
ul{
  display: inline-flex;
  justify-content: space-evenly;
}
#cities_link{
  display: block;
  text-align: center;
  margin: 3px;
  background-color: lightslategray;
  border-radius: 20px;
  width: 10%;
}

