#home_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#about{
  display: flex;
  flex-direction: column;
}
h3{
  text-align: center;
}
ul{
  display: inline-flex;
  justify-content: space-evenly;

}

