#home_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
#about{
  display: flex;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
  margin: 0px 10%;
  width: 60%;
  margin-left: 20%;
}
h3{
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
}
ul{
  margin: 0px;
  padding: 2% 5%;
  display: inline-flex;
  justify-content: space-between;
}
li{
  background-color: palegoldenrod;
  padding: 2% 5%;
  border-radius: 20px;
  width: 20%;
}

#cities_link_div{
  width: 100%;
}
#cities_link{
  display: block;
  text-align: center;
  background-color: lightslategray;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  width: 20%;
  margin: 0 40%;
}
#cities_link:hover{
  background-color: palevioletred;
}

