header{
  display: flex;
  background-color: lightslategray;
  color: white;
  height: 7vh;
  width: 100%;
  align-items: center;
}
#site_title:hover{
  color: lightgoldenrodyellow;
}
h1{
  margin-left: 1vw;
}
#content{
  width: 100%;
  height: auto;
}
#logo{
  height: 75%;
  margin-left: 10px;
}

