header{
  display: flex;
  background-color: dodgerblue;
  color: white;
  height: 7vh;
  align-items: center;
}
h1{
  margin-left: 1vw;
}
#content{
  margin: 0px 2% 2% 2%;
  display: inline-flex;
  justify-content: space-evenly;
}
#logo{
  height: 75%;
  margin-left: 10px;
}

