#cities_landing{
  display: inline-flex;
  justify-content: space-evenly;
  margin: 10px auto;
  height: 80%;
  width: 100vw;
}
#cities_list{
  width: 40vw;
  font-size: 30px;
  background-color: lightslategray;
  margin: 8px 8px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.city_links{
  text-align: center;
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  margin: 20px auto;
  border: black solid 1px;
  width: 80%;
  padding: 5% 3%;
}

ul{
  padding-left: 0px;
}

#outlet{
  width: 100%;
  display: inline-flex;
  justify-items: right;
}
